
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-Regular.woff2')
  
}


  .container{
    max-width: 1160px;
    margin: auto;

}

/* Header en Flexbox */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #17abb3;
    color: white;
    padding: 20px;
}

.header-left, .header-right {
   
    text-align: center;
}

/* Main en Flexbox */
.main-content {
    display: flex;
    justify-content: space-between;
    flex: 1; /* Permet à la section main d'occuper l'espace restant */
}

.header-left {
    flex: 1; /* Chaque colonne prend la moitié de l'espace */
    padding: 20px;
}
.header-right {
    flex: 2; /* Chaque colonne prend la moitié de l'espace */
    padding: 20px;
}
.left-column {
    flex: 1; /* Chaque colonne prend la moitié de l'espace */
    padding: 20px;
}
.right-column {
    flex: 2; /* Chaque colonne prend la moitié de l'espace */
    padding: 20px;
}

.left-column {
    background-color: #e3e3e3;
}

.right-column {
    background-color: #f5f5f5;
}

/* Footer en pleine largeur */
.footer {
    background-color: #17abb3;
    color: white;
    text-align: center;
    padding: 20px;
}
h2{
    color: #17abb3;
}